<extend name="Public:common"/>
<block name="content">
    <div class="col-md-offset-1 col-md-10">
        <div class="box box-{$colorstyle}">
            <div class="box-header">
                <h3 class="box-title">{$subtitle}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="{:U('doEdit')}">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="nname">节点名称</label>
                            <input type="text" class="form-control" id="nname" name="nname" placeholder="节点名称"
                                   value="{$node.nname}" required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="naddr">节点地址</label>
                            <input type="text" class="form-control" id="naddr" name="naddr" placeholder="节点地址"
                                   value="{$node.naddr}" required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="nmethod">加密方式</label>
                            <input type="text" class="form-control" id="nmethod" name="nmethod" placeholder="加密方式"
                                   value="{$node.nmethod}" required="required">

                            <p class="help-block">rc4-md5, aes-256-cfb, chacha20, <a
                                    href="https://github.com/shadowsocks/shadowsocks/wiki/Encryption">more...</a></p>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ntype">节点类型</label>
                            <input type="number" class="form-control" id="ntype" name="ntype" placeholder="节点类型"
                                   value="{$node.ntype}" required="required">

                            <p class="help-block">0-普通, 1-VIP, 2-测试</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="norder">节点排序</label>
                            <input type="number" class="form-control" id="norder" name="norder" placeholder="节点排序"
                                   value="{$node.norder}" required="required">

                            <p class="help-block">数字越大排序越靠前</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="nusr_max">节点最大用户数</label>
                            <input type="number" class="form-control" id="nusr_max" name="nusr_max"
                                   placeholder="节点最大用户数" value="{$node.nusr_max}" required="required">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="nusr_vip">节点用户数VIP预留</label>
                            <input type="text" class="form-control" id="nusr_vip" name="nusr_vip"
                                   placeholder="节点用户数VIP预留" value="{$node.nusr_vip}" required="required">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ntraffic_max">节点最大流量(GB)</label>
                            <input type="number" class="form-control" id="ntraffic_max" name="ntraffic_max"
                                   placeholder="节点最大流量(GB)" value="{$node['ntraffic_max']/1024}" required="required">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ntraffic_vip">节点流量VIP预留(GB)</label>
                            <input type="text" class="form-control" id="ntraffic_vip" name="ntraffic_vip"
                                   placeholder="节点流量VIP预留(GB)" value="{$node['ntraffic_vip']/1024}" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ninfo">节点描述</label>
                        <input type="text" class="form-control" id="ninfo" name="ninfo" placeholder="节点描述"
                               value="{$node.ninfo}">
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="hidden" name="nid" value="{$node.nid}">
                    <button type="submit" class="btn btn-{$colorstyle}">{$subtitle}</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
</block>